<!DOCTYPE html>
<html ng-app="mainModule">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @*@Styles.Render("~/Content/Semantic")*@
    @Styles.Render("~/Content/Styles")

    

</head>
<body ng-controller="mainCtrl">
    <a href="#/Default">Default</a> |
    <a href="#/TestView">Test View</a> | 
    <a href="#/RouteRuleManager">Route Rule Manager</a> | 
    @*<a href="#/RouteRuleEditor">Route Rule Editor</a> |*@ 
    <a href="#/ZingChart">Zing Chart</a> | 
    <a href="#/HighChart">HighChart</a> |
    <a href="#/HighChartSparkline">HighChart Sparkline</a> |
    <a href="#/FusionChart">Fusion Chart</a> |
    <a href="#/CanvasJSChart">CanvasJS Chart</a> |
    <a href="#/AMChart">AM Chart</a> |
    <a href="#/BI/TopManagementDashboard">BI - TopManagementDashboard</a> |
    <a href="#/BI/SeniorManagementDashboard">BI - SeniorManagementDashboard</a>
    <div class="col-md-12" ng-view></div>
</body>

@Scripts.Render("~/bundles/JQuery")
@Scripts.Render("~/bundles/Angular")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/highchart")
@*@Scripts.Render("~/bundles/Semantic")*@
@Scripts.Render("~/bundles/Javascripts")
</html>

