<!DOCTYPE html>
<html ng-app="mainModule">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/AngularExtensions")
    @*@Styles.Render("~/Content/Semantic")*@
    @Styles.Render("~/Content/Styles")



</head>
<body ng-controller="mainCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top vr-nav-custom">
        <div class="container">
            <div class="navbar-header">
                <img src="Client/Images/logoonheader.png" class="minilogo" />
                <div class="vr-logout-span">
                  
                    <div class="dropdown" ng-mouseenter="showMenu($event)" ng-mouseleave="hideMenu($event)">
                        <div class="dropdown-toggle "  id="dropdownMenuCu-test" aria-expanded="true" data-toggle="dropdown">
                            <img src="Client/Images/member.png" class="vr-user-icon" />
                           <label class="vr-user-label">{{::userDisplayName}}</label>
                            <label class="vr-user-separator">|</label>
                            
                            
                        </div>
                        <ul class="dropdown-menu " role="menu" aria-labelledby="dropdownMenuCu-test">
                            <li role="presentation">
                                <a href=" " >Edit profile</a>
                            </li>
                            <li role="presentation">
                                <a href=" " >Change password</a>
                            </li>     
                            <li role="presentation">
                                <a href="" ng-click="logout()">Logout</a>
                            </li>                 
                        </ul>
                    </div>
                </div>
                <div class="menu-icon">
                    <a href="" ng-click="openSupportModal()"><img src="Client/Images/support.png" class="vr-support" /></a>                 
                </div>
                <div class="menu-icon">
                    <img src="Client/Images/01.png" class="img1" />
                    <span class="badge bg-lightred">10</span>
                </div>
                <div class="warning-icon">
                    <img src="Client/Images/02.png" class="img2" />
                    <span class="badge bg-lightred">5</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="sub-header" ng-class="toogled==true?'sub-header-open':'sub-header-closed'">
        <div class="inner-sub ">
            <h4 class="vr-page-title">
                {{currentPage.Title}}
            </h4>
        </div>        
    </div>
    <div id="wrapper" ng-style="toogled==true?{'padding-left':'210px'}:{'padding-left':'25px'}">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-style="toogled==true?{'width':'225px'}:{'width':'2px'}">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-show="toogled==true">
                <div class="panel panel-default toggle-panel ">
                    <div class="panel-heading dll-menu" style="height: 41px;">
                        <span style="font-size: 20px; margin: 6px 4px; position: absolute; right: 5px; top: 5px;" ng-click="toggledpanel()" class=" hand-cursor glyphicon glyphicon-chevron-left "></span>
                    </div>
                </div>
                <div ng-repeat="item in menuItems" class="panel panel-default menu-item-list">
                    <div ng-class="item.isSelected? 'bold-item bgcolor-grad-{{item.keyclass}}':'bgcolor-{{item.keyclass}}'" class="panel-heading panel-heading-vr hand-cursor   boxes float-box waves-effect  waves-block dll-menu-theme" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" ng-click="setIndex(item,$event)">
                        <span ng-if="item.Childs.length > 0">
                            <span class="glyphicon " ng-class="item.Icon" style="font-size: 20px; top: 1px;"></span>
                            <span style="position: relative; top: -3px;">{{::item.Name}}</span>
                            <span class=" hand-cursor  toggel">
                                <span ng-if="item.Childs.length>0" class="glyphicon glyphicon" ng-class=" menuItemsCurrent.Id == item.Id ? 'glyphicon-minus':'glyphicon-plus'" style="font-size: 10px; top: 10px;"></span>
                            </span>
                        </span>

                        <ul class="nav" ng-if="item.Childs.length == 0" data-toggle="collapse" data-parent="#accordion">
                            <li class="dll-menu menu-item-list-ligth" ng-repeat="c in item.Childs">
                                <a class="menulink  " ng-href="{{::item.Location}}" ng-click="logfunc()">{{::item.Name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div id="collapse-{{$index}}" class="panel-body " ng-show="menuItemsCurrent.Id == item.Id">
                        <div class="panel-body">
                            <ul class="nav">
                                <li ng-if="c.Childs == null " class="waves-effect waves-classic dll-menu menu-item-list-ligth " ng-class="c.isSelected?'selected-node':''" ng-repeat="c in item.Childs">
                                    <a class="menulink " ng-class="c.isSelected?'selected-url':''" ng-href=" {{::c.Location}}">{{::c.Name}} </a>
                                </li>

                            </ul>
                            <div ng-if="c.Childs.length > 0" ng-repeat="c in item.Childs" class="dll-menu menu-item-list-ligth ">
                                <div class="menulink waves-effect waves-block" ng-class="menusubItemsCurrent.Id == c.Id  ? 'down selected-url ':''" ng-click="setIndexSub(c)">{{::c.Name}}</div>
                                <ul style="padding-left:15px" class="nav" ng-show="menusubItemsCurrent.Id == c.Id">
                                    <li ng-repeat="a in c.Childs" class="waves-effect waves-classic " ng-class="a.isSelected?'selected-node':''">
                                        <a class="menulink" style="color:#333;" ng-class="a.isSelected?'selected-url':''" ng-href="{{::a.Location}}">{{::a.Name}}</a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="clock">
                    <span ng-bind="clock  | date:'EEE dd MMM , yyyy'"></span>

                    <span style="color: #6a6a6a;font-weight:bold" ng-bind="clock  | date:'hh:mm'"> </span>
                   
                </div>
            </div>

            <div id="collapsedmenu" style="background-color:#ddd;height:100%;width:40px;position:fixed;z-index:10" ng-show="toogled==false">
                <div class="dropdown dropdown-custom-serf leftdiv">
                    <div class="dropdown-toggle hand-cursor glyphicon glyphicon glyphicon-chevron-right dropdown-item" style="height: 43px; top: 10px;" ng-click="toggledpanel()">

                    </div>
                </div>

                <div ng-repeat="item in menuItems" class="dropdown dropdown-custom-serf leftdiv " ng-class="item.isSelected? 'bgcolor-grad-{{item.keyclass}}':'bgcolor-{{item.keyclass}}'" ng-mouseenter="showMenu($event)" ng-mouseleave="hideMenu($event)">
                    <div class="dropdown-toggle hand-cursor glyphicon dll-menu-theme dropdown-item" ng-class="item.Icon" id="dropdownMenuCu-{{$index}}" aria-expanded="true" data-toggle="dropdown">

                    </div>
                    <ul class="dropdown-menu dropdown-menu-custom-serf" role="menu" aria-labelledby="dropdownMenuCu-{{$index}}">
                        <li role="presentation">
                            <label class="titel-groupe"> {{::item.Name}}</label>
                        </li>
                        <li ng-if="c.Childs == undefined" role="presentation" class="innerlist" ng-repeat="c in item.Childs" ng-class="c.isSelected?'selected-node':''">
                            <a ng-href="{{::c.Location}}" ng-class="c.isSelected?'selected-url':''">{{::c.Name}}</a>
                        </li>
                        <li ng-if="c.Childs != undefined" class="innerlist" ng-repeat="c in item.Childs">
                            <div class="div-link hand-cursor" ng-class="menusubItemsCurrent.Id == c.Id ? 'selected-url down':''" ng-click="$event.preventDefault();$event.stopPropagation();setIndexSub(c)">{{::c.Name}}</div>
                            <ul class="nav" ng-show="menusubItemsCurrent.Id == c.Id">
                                <li ng-repeat="a in c.Childs" class="innerlist">
                                    <a class="menulink" ng-class="a.isSelected?'selected-url bold-item':''" style="padding:0px 0px 0px 30px !important ; color:#333" ng-href="{{::a.Location}}">{{::a.Name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clock collapsed-clock">
                  
                    <span ng-bind="clock  | date:'EEE dd MMM , yyyy'"></span>

                    <span style="color: #6a6a6a; font-weight: bold" ng-bind="clock  | date:'hh:mm'"> </span>

                </div>
            </div>
        </div>

        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid vr-container">
                <div class="row">

                    <div class="panel-primary panel-vr his-nav" ng-if="hisnav.length > 0 ">
                        <div class="panel-heading">
                            <span ng-show="showHip"> Nav History </span>
                            <span class="hand-cursor" ng-click="showHip=!showHip ">
                                <span ng-show="showHip" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                <span ng-hide="showHip" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </span>

                        </div>
                        <div class="panel-body am-slide-top" ng-show="showHip">
                            <vr-row removeline>
                                <div ng-if="hisnav.length > 0 ">
                                    <div ng-repeat="h in hisnav">
                                        <button class="btn-link" ng-click="hidesubview(h.name,$index)">{{h.Name}}</button>
                                    </div>
                                    <span class="glyphicon glyphicon-circle-arrow-left pull-right hand-cursor" ng-click="hidesubview(hisnav[hisnav.length-1].name,hisnav.length-1)"></span>
                                </div>


                            </vr-row>

                        </div>

                    </div>

                    <div class="col-lg-12" ng-view>


                    </div>

                </div>
            </div>

            <!-- /#page-content-wrapper -->
        </div>


    </div>




</body>
@Scripts.Render("~/bundles/helpers")
@Scripts.Render("~/bundles/JQuery")
@Scripts.Render("~/bundles/Angular")
@Scripts.Render("~/bundles/AngularExtensions")

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/highchart")
@*@Scripts.Render("~/bundles/Semantic")*@
@Scripts.Render("~/bundles/Javascripts")
@Scripts.Render("~/bundles/ModulesJavascripts")
@Scripts.Render("~/bundles/waves")


</html>